.post-list{
    margin: 0 10px;
}

.post-list .post{
    background-color: #F5F5F5;
    padding: 10px;
    margin-bottom: 10px;
}

.post-list .post header .post-info{
    width: calc(100% - 90px);
    display: inline-block;
}

.post-list .post header .post-info .post-title{
    font-size: 1em;
    color: #383838;
    margin: 0;
}

.post-list .post header .post-info .post-author{
    font-size: .75em;
    margin: 0;
    color: #616161;
}

.post-list .post header .post-score{
    width: 80px;
    float: right;
}

.post-list .post header button{
    background: none;
    text-align: center;
    width: 20px;
    padding: 2px 0;
    line-height: 15px;
    border: 1px solid #a6bdbd;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.post-list .post header .post-vote-score{
    display: inline-block;
    width: 20px;
    font-size: .8em;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.post-list .post .post-body{
    margin: 5px 0 0 0;
    font-size: .75em;
}